body{
    font-family: "Inter";
}


/* .custom-select { */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* background-color: red; */
   
    /* padding-right: 30px;  */
  /* } */
  
  /* Custom arrow styling */
  /* .custom-select::after {
    content: '▼'; 
    color: green; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  } */