body{
    font-family: "Inter";
}


/* .custom-select {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 40px 10px 10px;
}
  
.custom-select::after {
  content: '↓'; 
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} */